<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040517577515-q49najnpiohac1ieegv966fksuv344m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040517577515-q49najnpiohac1ieegv966fksuv344m7</string>
	<key>API_KEY</key>
	<string>AIzaSyBMeZ7qtTHlTX86Ie3utyZtXl7B3ESdO8E</string>
	<key>GCM_SENDER_ID</key>
	<string>1040517577515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akhilr.codr</string>
	<key>PROJECT_ID</key>
	<string>codr-abb74</string>
	<key>STORAGE_BUCKET</key>
	<string>codr-abb74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040517577515:ios:7e26677003dfe75890a36e</string>
</dict>
</plist>